[submodule "VoxelGame/vendor/spdlog"]
	path = VoxelGame/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "VoxelGame/vendor/glfw"]
	path = VoxelGame/vendor/glfw
	url = https://github.com/TheCherno/glfw
[submodule "VoxelGame/vendor/glm"]
	path = VoxelGame/vendor/glm
	url = https://github.com/g-truc/glm
